.formPage{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}
.form{
    margin-top: 20px;
}
.form label{
    margin-left: 3px;
    margin-top: 5px;
}
.form input{
    font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.form input:focus{
    outline:none;
    border-bottom:2px solid #1abc9c;
}

.form button:hover{
    opacity: .9;
}
