/* You can add global styles to this file, and also import other style files */
*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    margin-top: 5px;
   border-radius: 4px;
   border-style: none;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   margin: 0;
   max-width: none;
   min-height: 44px;
   min-width: 10px;
   outline: none;
   overflow: hidden;
   padding: 9px 20px 8px;
   position: relative;
   text-align: center;
   text-transform: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
 }
 .enabled-btn{
    
    background-color: #222;
  }
  .disabled-btn{
      background-color: #555;
      cursor: not-allowed;
  }
  .danger-btn{
    background-color:#da3636;
  }
  .cancel-btn{
    /* background-color: #1; */
    color: #222;
  }